<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="container">
 		<div>
 			<h1>Hello Spring</h1>
 			<p>회원 기능</p>
 			<p>
 				<a href="/members/new">회원 가입</a>
 				<a href="/members">회원 목록</a>
 			</p>
 		</div>
	</div>
	
	<div>
		<h1>회사 업무 테스트!!</h1>
		<ul class="testUl">
			<li>1뎁스</li>
			<ul>
				<li>2뎁스</li>
			</ul>
		</ul>
	</div>
</body>
<script>
	var testData = [
		{"depth1" : "(무)튼튼한 암보험", "depth2" : "하나의 보험으로 해결하는 간암 암보험", "pdtCd" : "12345"},
		{"depth1" : "(무)튼튼한 암보험", "depth2" : "흡연으로 인한 폐암보험 진단 암보험", "pdtCd" : "12543"},
		{"depth1" : "(무)튼튼한 암보험", "depth2" : "뇌출혈로 인한 뇌종양 진단 암보험", "pdtCd" : "67432"},
		{"depth1" : "(갱신형)우체국 보험", "depth2" : "우체국에서 만든 보험", "pdtCd" : "77493"},
	];
	
	
</script>
</html>